source_path|/data/scheduling_raw
source_file_pattern|seasonCalender_{year}.txt
delimiter|<#??#>
input_ddl|RoundNumber INT, Country STRING, Location STRING, OfficialEventName STRING, EventDate TIMESTAMP, EventName STRING, EventFormat STRING, Session1 STRING  ,Session1Date TIMESTAMP, Session1DateUtc TIMESTAMP, Session2 STRING, Session2Date TIMESTAMP,Session2DateUtc TIMESTAMP, Session3 STRING, Session3Date TIMESTAMP, Session3DateUtc TIMESTAMP, Session4 STRING,Session4Date TIMESTAMP, Session4DateUtc TIMESTAMP, Session5 STRING, Session5Date TIMESTAMP, Session5DateUtc TIMESTAMP, F1ApiSupport BOOLEAN
raw_table_name|schedule_raw
property_file|/opt/spark_jobs/properties/schedule.properties
postgres_user_name|postgres
postgres_password|postgres
